# venv
.venv
.env
venv
.venv_img_txt

# Python cache
__pycache__/
*.py[cod]

# data files
data/
*.csv


*.pth.tar

.\checkpoints\best_checkpoint.pth.tar
.\checkpoints\last_checkpoint.pth.tar
checkpoints/*.pth.tar